<template data-nested-form-target='template'>
  <div class="nested_participant">
    <%= f.fields_for :participations, Participant.new, child_index: 'TEMPLATE_RECORD' do |fp| %>
      <div id="new_participant">
        <%= fp.hidden_field :id %>
        <%= fp.hidden_field :_destroy, id: 'destroy_input_user' %>
        <%#= fp.collection_select :user_id, current_user.friends, :id, :full_name, { multiple: true } %>
        <%= fp.hidden_field :user_id, id: 'input_user' %>
        <div id="user_name_container">
          <span id="user_name"></span>
          <%= link_to ('<span class="material-symbols-outlined">close</span>').html_safe, '#',
                      data: { action: 'nested-form#removeParticipant' },
                      class: 'link_remove_participant' %>
        </div>
      </div>
    <% end %>
  </div>
</template>

<%= turbo_frame_tag :search_friend_select do %>
  <div class="friends_select_container">
    <% friends.each do |friend| %>
      <%= link_to '#', class: 'link_add_participant_select', data: { action: 'click->nested-form#addParticipant',
                                                                      id: friend.id,
                                                                      nested_form_target: 'friendCard' } do %>
        <div class="background-input">
          <div class='container_card_friend_select' data-id='<%= friend.id %>'>
            <div class="background-avatar">
              <%= image_tag 'avatar_placeholder.png', alt: "avatar_user", class: 'avatar-user' %>
            </div>
            <span class='name_user_to_select'><%= friend.full_name %></span>
            <span class="material-symbols-outlined check_added_participants">check</span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
