<template data-nested-form-target='template'>
  <div class="nested_participant">
    <%= f.fields_for :participations, Participant.new, child_index: 'TEMPLATE_RECORD' do |fp| %>
      <div id="new_participant">
        <%= fp.hidden_field :id %>
        <%= fp.hidden_field :_destroy %>
        <%#= fp.collection_select :user_id, current_user.friends, :id, :full_name, { multiple: true } %>
        <%= fp.hidden_field :user_id, id: 'input_user' %>
        <div id="user_name_container" class='d-flex'>
          <span id="user_name"></span>
          <%= link_to ('<span class="material-symbols-outlined">close</span>').html_safe, '#', data: { action: 'nested-form#removeParticipant' } %>
        </div>
      </div>
    <% end %>
  </div>
</template>

<% friends.first(10).each do |friend| %>
  <div>
    <%= link_to friend.full_name, '#', data: { action: 'click->nested-form#addParticipant', id: friend.id }  %>
  </div>
<% end %>
