<%= turbo_frame_tag :turbo__profile do %>

  <div class="row m-0 justify-content-center h-100"
        data-controller='search-trips'
        data-search-trips-user-value='<%= @user.slug %>'>
    <div class="search_trip_container col-11 px-0 d-flex justify-content-center">
      <%= form_with url: trips_path(@trips), method: :get, class: "search_trip_form" do %>
        <%= text_field_tag :query,
              params[:query],
              placeholder: "Search a trip, participants, etc.",
              id: 'search_bar_friends',
              data: {
                action: 'input->search-trips#reloadFrameSearch'
              }
          %>
        <%= submit_tag '#', disabled: true, hidden: true %>
      <% end %>
    </div>

    <div class='trips_index_container col-11'>
      <%= turbo_frame_tag :search_trip_frame do %>
        <div class="trips_container row" id="trips">
          <%#= render partial: 'trip', collection: @trips %>
        </div>

        <%= turbo_frame_tag :load_more, src: trips_path(format: :turbo_stream, query: @query), loading: :lazy %>
      <% end %>
    </div>

  </div>
<% end %>
