<%= turbo_frame_tag :display__calendar do %>
  <%= month_calendar(events: @trip.events, attribute: :start_date, end_attribute: :end_date) do |date, events| %>
    <span class='date-calendar-wrapper'>
      <span class='day-today-<%= date.day < 10 ? 'short' : 'long' %>'><%= date.day %></span>
    </span>
    <div class='scrollable'>
      <% events.each do |event| %>
        <div class='event_day' style='--color: <%= category_color(event.category) %>'><%= event.name %></div>
      <% end %>
    </div>
  <% end %>
<% end %>
