<%= turbo_frame_tag :turbo__profile do %>
  <%= tag.div data: {
                      controller: 'form-redirect nested-form flatpickr form-focus',
                      form_focus_focused_class: 'focused',
                      form_redirect_user_value: current_user.slug,
                    },
              class: 'form_new_trip_container' do %>
    <%= turbo_frame_tag :form_new_trip, data: {
                                                form_redirect_target: 'frameNewTrip'
                                              } do %>
      <%= simple_form_for @trip, url: trips_path, method: :post,
                                                  html: {
                                                    class: 'h-100',
                                                    data: {
                                                      # turbo_frame: :turbo__profile,
                                                      # turbo: false,
                                                      # turbo_action: :advance,
                                                      nested_form_target: 'form',
                                                      action: 'turbo:submit-end->form-redirect#redirectNewTrip'                                                    }
                                                  } do |f| %>
        <div class="row m-0 justify-content-center h-100">
          <div class="header_new_trip col-11">
            <h4>Create A Trip</h4>
            <div class='button_link mt-0'>
              <%= f.submit "All Done", class: 'text button_submit' %>
            </div>
          </div>

          <div class="inputs_new_trip_container col-11">
            <div class="inputs_new_trip">
              <div class='inputs_resized'>
                <div class="background-input">
                  <%= f.input :name,
                              input_html: { class: 'input-form',
                                              data: {
                                                action: 'focus->form-focus#focused',
                                                identity: 'name'
                                              }
                                            },
                              label_html: { class: 'label-form',
                                              data: {
                                                form_focus_target: 'label',
                                                identity: 'name'
                                              }
                                            },
                              wrapper_html: { class: 'container-label-input',
                                              data: {
                                                form_focus_target: 'wrapper',
                                                identity: 'name'
                                              }
                                            } %>
                </div>
                <div class="dates_new_trip_container">
                  <h5>Select your dates</h5>
                  <%= f.input :start_date, as: :string, label: false, input_html: { data: { flatpickr_target: "startTime" }, class: 'd-none' } %>
                  <%= f.input :end_date, as: :string, label: false, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time', class: 'd-none' } %>
                </div>

              </div>
            </div>

            <div class="inputs_new_trip">
              <div class="inputs_resized">
                <h5 class='participants_added_title'>Participants</h5>
                <div class="added_participants"
                      data-nested-form-target='addedParticipantsContainer'>

                </div>

                <h5 class='participants_added_title'>Select people</h5>
                <div class="inputs_participants">
                  <%= render 'nested_participant_create_trip', f: f, friends: @friends %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
