<%= turbo_frame_tag :turbo__profile do %>
  <%= tag.div data: {
                      controller: 'form-redirect nested-form',
                      form_redirect_user_value: current_user.slug,
                    },
              class: 'form_new_trip_container' do %>
    <%= turbo_frame_tag :form_new_trip, data: {
                                                form_redirect_target: 'frameNewTrip'
                                              } do %>
      <%= simple_form_for @trip, url: trips_path, method: :post,
                                                  html: {
                                                    class: 'h-100',
                                                    data: {
                                                      # turbo_frame: :turbo__profile,
                                                      # turbo: false,
                                                      # turbo_action: :advance,
                                                      action: 'turbo:submit-end->form-redirect#redirectNewTrip'                                                    }
                                                  } do |f| %>
        <div class="row m-0 justify-content-center h-100">
          <div class="header_new_trip col-11">
            <h4>Create A Trip</h4>
            <div class='button_link mt-0'>
              <%= f.submit "All Done", class: 'text button_submit' %>
            </div>
          </div>

          <div class="inputs_new_trip_container col-11">
            <div class="inputs_new_trip">
              <div class='inputs_resized'>
                <%= f.input :name,
                            input_html: { class: 'input-form',
                                            data: {
                                              action: 'focus->form-focus#focused',
                                              identity: 'name'
                                            }
                                          },
                            label_html: { class: 'label-form',
                                            data: {
                                              form_focus_target: 'label',
                                              identity: 'name'
                                            }
                                          },
                            wrapper_html: { class: 'container-label-input',
                                            data: {
                                              form_focus_target: 'wrapper',
                                              identity: 'name'
                                            }
                                          } %>
                <%= f.input :start_date %>
                <%= f.input :end_date %>

                <div class="added_participants"
                      data-nested-form-target='addedParticipantsContainer'>

                </div>
              </div>
            </div>

            <div class="input_new_participant">
              <%= render 'nested_participant_create_trip', f: f, friends: @friends %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
