<div class='container-menu-user'>
  <i class="gg-bell bell-notifications"></i>

  <div class='dropdown-parent' tabindex='-1'>
    <div class="background-avatar">
      <%= image_tag 'avatar.jpg', alt: "Avatar User", class: 'avatar-user' %>
    </div>

    <div class='dropdown-container'>
      <% if params[:action] == 'profile' && @user == current_user %>
        <%= link_to profile_path(current_user), data: { turbo_frame: :turbo__profile }, class: 'dropdown-item' do %>
          <span><span class="material-symbols-outlined">account_circle</span>Profile</span>
        <% end %>

        <%= link_to search_friends_path(current_user), data: { turbo_frame: :turbo__profile }, class: 'dropdown-item' do %>
          <span><span class="material-symbols-outlined">person_search</span>Search Friends</span>
        <% end %>
      <% else %>
        <%= link_to profile_path(current_user), class: 'dropdown-item' do %>
          <span><span class="material-symbols-outlined">account_circle</span>Profile</span>
        <% end %>

        <%= link_to '', class: 'dropdown-item', disabled: true do %>
          <span><span class="material-symbols-outlined">person_search</span>Search Friends</span>
        <% end %>
      <% end %>

      <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: 'dropdown-item' do %>
        <span><span class="material-symbols-outlined">logout</span>Log Out</span>
      <% end %>
    </div>
  </div>
</div>
