<%# Prevent error with clashing turbo trying to render a frame %>
  <%= turbo_page_requires_reload %>
<%# * %>

<div class="container-profile row banner-container-image" style='background-image: url(<%= image_path 'banner_background.svg' %>)'>
  <div class="menu-container d-none col-md-3 d-lg-block">
    <div class="empty__block">
    </div>
    <div class="menu__items">
      <div class='menu-item'>
        <h4>Trips</h4> <span class="material-symbols-outlined">navigate_next</span>
      </div>
      <div class='menu-item'>
        <h4>Friends</h4> <span class="material-symbols-outlined">navigate_next</span>
      </div>
      <div class='menu-item'>
        <h4>Parameters</h4> <span class="material-symbols-outlined">navigate_next</span>
      </div>
    </div>
  </div>

  <div class="display-container col-12 col-lg-9">
    <div class="empty__block_display">
    </div>

    <div class="frame__profile">
      <div class="container-title-profile row gap-4">
        <h4 class='title_profile col-lg-10 col-md-7'>
          <span><%= @user.first_name %> <span class='user_last_name_profile'><%= @user.last_name.upcase %></span></span>
          <span class='user_username_profile'>A.K.A <%= @user.username %></span>
        </h4>

        <div class="menu_select_profile_mobile d-lg-none d-flex col-md-4 row">
          <%= render 'shared/navigation' %>
        </div>
      </div>

      <div class="container_frame_profile">
        <%= turbo_frame_tag 'turbo__profile' do %>
        <% end %>
      </div>
    </div>
  </div>
</div>
